%h1 New Project

= simple_form_for @project do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :tasks
  = text_area_tag("project[:tasks]")
  %br
  = f.button :submit, 'Create Project', class: 'btn btn-primary'
